@model Director

@{
    ViewData["Title"] = Model.DirectorId == 0 ? "Create Director" : "Edit Director";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-info bg-gradient text-white text-center">
            <h2 class="mb-0">@(Model.DirectorId == 0 ? "Create Director" : "Edit Director")</h2>
        </div>
        <div class="card-body p-4">
            <form asp-controller="directors" asp-action="upsert" method="post">
                <input hidden asp-for="DirectorId" />
                <div class="border p-4 rounded">
                    <div class="row g-3">
                        <div class="col-12 form-floating">
                            <input asp-for="DirectorName" class="form-control border-0 shadow-sm" placeholder="Enter genre name" />
                            <label asp-for="DirectorName"></label>
                            <span asp-validation-for="DirectorName" class="text-danger"></span>
                        </div>

                        <div class="col-12 d-flex gap-2">
                            <button type="submit" class="btn btn-info w-100">
                                @if (Model.DirectorId == 0)
                                {
                                    <i class="bi bi-plus-circle"></i> <span>Create</span>
                                }
                                else
                                {
                                    <i class="bi bi-save"></i> <span>Update</span>
                                }
                            </button>
                            <a asp-controller="directors" asp-action="index" class="btn btn-outline-info w-100">
                                <i class="bi bi-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

