<!-- Simple Header Banner -->
<div class="container-fluid header-banner">
    <div class="container text-center">
        <h1 class="display-5 fw-bold">Movie Theatre</h1>
        <p class="lead">Discover and enjoy the best cinema experience</p>
    </div>
</div>