<!-- Movie Categories Navigation -->
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <div class="nav-categories">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="#now-showing">Now Showing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#coming-soon">Coming Soon</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>